In [1]:
import selenium
from selenium import webdriver

import pandas as pd
from selenium.webdriver.common.by import By

import warnings
warnings.filterwarnings('ignore')

import time

In [ ]:
# extracting data for data analyst in Bangalore

In [2]:
driver = webdriver.Chrome(r'C:\Users\user\chromedriver_win32\chromedriver.exe')

In [3]:
url = 'https://www.naukri.com/'

driver.get(url)

In [4]:
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input')

search_job.send_keys('Data Analyst')

In [5]:
search_location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')

search_location.send_keys('Bangalore')

In [6]:
search_button = driver.find_element(By.CLASS_NAME,'qsbSubmit')

search_button.click()

In [7]:
job_titles = []

title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

for i in title_tags[0:10]:
    job_titles.append(i.text)
    
job_titles

['Senior Data Analyst - PLM Data Migration',
 'Data Analyst',
 'Senior Data Analyst',
 'Lead Data Analyst',
 'Contractual Hiring For Top MNC || Business Data Analyst || Bangalore',
 'Master Data Management Business Analyst',
 'Data Analyst',
 'Sr. Data Analyst (SAS Data Management)',
 'Lead Data Analyst',
 'Data Analyst']

In [8]:
job_location = []

loc_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

for i in loc_tags[0:10]:
    job_location.append(i.text)
    
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, New Delhi',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [9]:
company_name = []

company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in company_tags[0:10]:
    company_name.append(i.text)
    
company_name

['CGI',
 'IBM',
 'Groundtruth',
 'Mobile Premier League (MPL)',
 'TeamLease',
 'Accenture',
 'Bsharp',
 'NMS Consultant',
 'SVB Global Services India Llp',
 'IBM']

In [10]:
experience = []

exp_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')

for i in exp_tags[0:10]:
    experience.append(i.text)
    
experience

['3-6 Yrs',
 '3-4 Yrs',
 '5-8 Yrs',
 '4-7 Yrs',
 '5-8 Yrs',
 '6-8 Yrs',
 '1-3 Yrs',
 '5-10 Yrs',
 '8-13 Yrs',
 '3-4 Yrs']

In [11]:
df = pd.DataFrame({'Company_Name':company_name,'Job_Title':job_titles,'Experience':experience,'Location':job_location})

df

,Company_Name,Job_Title,Experience,Location
0,CGI,Senior Data Analyst - PLM Data Migration,3-6 Yrs,Bangalore/Bengaluru
1,IBM,Data Analyst,3-4 Yrs,Bangalore/Bengaluru
2,Groundtruth,Senior Data Analyst,5-8 Yrs,"Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram"
3,Mobile Premier League (MPL),Lead Data Analyst,4-7 Yrs,Bangalore/Bengaluru
4,TeamLease,Contractual Hiring For Top MNC || Business Dat...,5-8 Yrs,Bangalore/Bengaluru
5,Accenture,Master Data Management Business Analyst,6-8 Yrs,Bangalore/Bengaluru
6,Bsharp,Data Analyst,1-3 Yrs,Bangalore/Bengaluru
7,NMS Consultant,Sr. Data Analyst (SAS Data Management),5-10 Yrs,"Bangalore/Bengaluru, New Delhi"
8,SVB Global Services India Llp,Lead Data Analyst,8-13 Yrs,Bangalore/Bengaluru
9,IBM,Data Analyst,3-4 Yrs,Bangalore/Bengaluru

In [18]:
import numpy as np

In [19]:
r = np.arange(1,11)

In [14]:
df = df.set_index(r)

df

,Company_Name,Job_Title,Experience,Location
1,CGI,Senior Data Analyst - PLM Data Migration,3-6 Yrs,Bangalore/Bengaluru
2,IBM,Data Analyst,3-4 Yrs,Bangalore/Bengaluru
3,Groundtruth,Senior Data Analyst,5-8 Yrs,"Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram"
4,Mobile Premier League (MPL),Lead Data Analyst,4-7 Yrs,Bangalore/Bengaluru
5,TeamLease,Contractual Hiring For Top MNC || Business Dat...,5-8 Yrs,Bangalore/Bengaluru
6,Accenture,Master Data Management Business Analyst,6-8 Yrs,Bangalore/Bengaluru
7,Bsharp,Data Analyst,1-3 Yrs,Bangalore/Bengaluru
8,NMS Consultant,Sr. Data Analyst (SAS Data Management),5-10 Yrs,"Bangalore/Bengaluru, New Delhi"
9,SVB Global Services India Llp,Lead Data Analyst,8-13 Yrs,Bangalore/Bengaluru
10,IBM,Data Analyst,3-4 Yrs,Bangalore/Bengaluru

In [15]:
driver.close()

In [ ]:
# extracting data for data scientist in Bangalore

In [16]:
driver1 = webdriver.Chrome(r'C:\Users\user\chromedriver_win32\chromedriver.exe')

In [17]:
url = 'https://www.naukri.com/'

driver1.get(url)

In [18]:
search_job = driver1.find_element(By.CLASS_NAME,'suggestor-input')

search_job.send_keys('Data Scientist')

In [19]:
search_location = driver1.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')

search_location.send_keys('Bangalore')

In [20]:
search_button = driver1.find_element(By.CLASS_NAME,'qsbSubmit')

search_button.click()

In [27]:
job_titles = []

title_tags = driver1.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

for i in title_tags[0:10]:
    job_titles.append(i.text)
    
job_titles

['Analystics & Modeling Specialist',
 'Senior Data Scientist',
 'Assistant Manager - Data Science',
 'Data Scientist',
 'Data Scientist',
 'ACN - Applied Intelligence - Data Scientist - 09',
 'Data Scientist - 2',
 'Data Scientist - Looking For Immediate Joiners',
 'Senior Data Scientist',
 'Data Scientist - II']

In [28]:
company_name = []

company_tags = driver1.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in company_tags[0:10]:
    company_name.append(i.text)
    
company_name

['Accenture',
 'Wipro',
 'Citiustech',
 'Altair',
 'Quest Global',
 'Accenture',
 '24 7 ai',
 'Wipro',
 'Boston Consulting Group',
 'Bizongo']

In [29]:
location = []

location_tags = driver1.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

for i in location_tags[0:10]:
    location.append(i.text)
    
location

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Hybrid - Bangalore/Bengaluru, Pune, Chennai',
 'Hybrid - Bangalore/Bengaluru, Mumbai, Pune',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru, Mumbai, New Delhi, Chennai',
 'Bangalore/Bengaluru, India, Mumbai (All Areas)']

In [2]:
import numpy as np

In [31]:
r1 = np.arange(1,11)

r1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [32]:
df1 = pd.DataFrame({'Job_Title':job_titles,'Company_Name':company_name,'Location':location})

df1 = df1.set_index(r1)

df1

,Job_Title,Company_Name,Location
1,Analystics & Modeling Specialist,Accenture,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
2,Senior Data Scientist,Wipro,"Hybrid - Bangalore/Bengaluru, Pune, Chennai"
3,Assistant Manager - Data Science,Citiustech,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune"
4,Data Scientist,Altair,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P..."
5,Data Scientist,Quest Global,Bangalore/Bengaluru
6,ACN - Applied Intelligence - Data Scientist - 09,Accenture,Bangalore/Bengaluru
7,Data Scientist - 2,24 7 ai,Bangalore/Bengaluru
8,Data Scientist - Looking For Immediate Joiners,Wipro,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund..."
9,Senior Data Scientist,Boston Consulting Group,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai"
10,Data Scientist - II,Bizongo,"Bangalore/Bengaluru, India, Mumbai (All Areas)"

In [33]:
driver1.close()

In [ ]:
# extracting data for data scientist in Delhi/NCR by using filter

In [34]:
driver2 = webdriver.Chrome(r'C:\Users\user\chromedriver_win32\chromedriver.exe')

In [35]:
url = 'https://www.naukri.com/'

driver2.get(url)

In [36]:
search_job = driver2.find_element(By.CLASS_NAME,'suggestor-input ')

search_job.send_keys('Data Scientist')

In [37]:
search_button = driver2.find_element(By.CLASS_NAME,'qsbSubmit')

search_button.click()

In [38]:
filter_location = driver2.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')

filter_location.click()

In [39]:
filter_salary = driver2.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')

filter_salary.click()

In [40]:
job_titles = []

title_tags = driver2.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

for i in title_tags[0:10]:
    job_titles.append(i.text)
    
job_titles

['Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Urgent hiring For Data Scientist (PHD Must Have)',
 'Manager - Data Science - Banking&Financial Services - IIM/ISB/MDI/FMS',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Specialist',
 'Data scientist- Python',
 'Data Scientist']

In [42]:
company_name = []

company_tags = driver2.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in company_tags[0:10]:
    company_name.append(i.text)
    
company_name

['HCLTech',
 'Boston Consulting Group',
 'NGI Ventures',
 'Black Turtle',
 'torcai digital media',
 'Meon Technologies',
 'Alliance Recruitment Agency',
 'RCPC',
 'TeamPlus Staffing Solution Pvt Ltd',
 'Razor Group GmbH']

In [43]:
experience = []

exp_tags = driver2.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')

for i in exp_tags[0:10]:
    experience.append(i.text)
    
experience

['4-9 Yrs',
 '2-5 Yrs',
 '0-4 Yrs',
 '4-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '3-4 Yrs',
 '4-6 Yrs',
 '3-6 Yrs',
 '2-3 Yrs']

In [44]:
location = []

loc_tags = driver2.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

for i in loc_tags[0:10]:
    location.append(i.text)
    
location

['Noida, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Temp. WFH - Noida, Pune',
 'Delhi / NCR, Bangalore/Bengaluru',
 'Dehradun, Hyderabad/Secunderabad, Gurgaon/Gurugram',
 'Noida',
 'Noida',
 'Noida',
 'Gurgaon/Gurugram',
 'New Delhi']

In [45]:
df2 = pd.DataFrame({'Job_Title':job_titles,'Company_Name':company_name,'Experience':experience,'Location':location})

df2

,Job_Title,Company_Name,Experience,Location
0,Data Scientist,HCLTech,4-9 Yrs,"Noida, Hyderabad/Secunderabad, Chennai, Bangal..."
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
2,Urgent hiring For Data Scientist (PHD Must Have),NGI Ventures,0-4 Yrs,"Temp. WFH - Noida, Pune"
3,Manager - Data Science - Banking&Financial Ser...,Black Turtle,4-8 Yrs,"Delhi / NCR, Bangalore/Bengaluru"
4,Data Scientist,torcai digital media,2-7 Yrs,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru..."
5,Data Scientist,Meon Technologies,2-5 Yrs,Noida
6,Data Scientist,Alliance Recruitment Agency,3-4 Yrs,Noida
7,Data Specialist,RCPC,4-6 Yrs,Noida
8,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs,Gurgaon/Gurugram
9,Data Scientist,Razor Group GmbH,2-3 Yrs,New Delhi

In [46]:
df2 = df2.set_index(r1)

df2

,Job_Title,Company_Name,Experience,Location
1,Data Scientist,HCLTech,4-9 Yrs,"Noida, Hyderabad/Secunderabad, Chennai, Bangal..."
2,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
3,Urgent hiring For Data Scientist (PHD Must Have),NGI Ventures,0-4 Yrs,"Temp. WFH - Noida, Pune"
4,Manager - Data Science - Banking&Financial Ser...,Black Turtle,4-8 Yrs,"Delhi / NCR, Bangalore/Bengaluru"
5,Data Scientist,torcai digital media,2-7 Yrs,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru..."
6,Data Scientist,Meon Technologies,2-5 Yrs,Noida
7,Data Scientist,Alliance Recruitment Agency,3-4 Yrs,Noida
8,Data Specialist,RCPC,4-6 Yrs,Noida
9,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs,Gurgaon/Gurugram
10,Data Scientist,Razor Group GmbH,2-3 Yrs,New Delhi

In [47]:
driver2.close()

In [ ]:
#  extracting data from flipkart for sunglasses

In [48]:
driver3 = webdriver.Chrome(r'C:\Users\user\chromedriver_win32\chromedriver.exe')

In [49]:
url = 'https://www.flipkart.com/'

driver3.get(url)

In [50]:
sunglasses = driver3.find_element(By.CLASS_NAME,"_3704LK")

sunglasses.send_keys('sunglasses')

In [52]:
brand = []

start = 0
end = 3

for page in range(start,end):
    title = driver3.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in title[0:100]:
        brand.append(i.text)
        
    next_button = driver3.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [53]:
brand = brand[0:100]

In [54]:
len(brand)

100

In [55]:
product = []

start = 0
end = 3

for page in range(start,end):
    prod_des = driver3.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in prod_des:
        product.append(i.text)
        
    next_button = driver3.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [56]:
len(product)

120

In [57]:
product = product[0:100]

In [58]:
len(product)

100

In [59]:
price = []

start = 0
end = 3

for page in range(start,end):
    price_des = driver3.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_des:
        price.append(i.text)
        
    next_button = driver3.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [60]:
len(price)

120

In [61]:
price = price[0:100]

In [62]:
len(price)

100

In [63]:
discount = []

start = 0
end = 3

for page in range(start,end):
    dis_offer = driver3.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in dis_offer:
        discount.append(i.text)
        
    next_button = driver3.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [64]:
len(discount)

120

In [65]:
discount = discount[0:100]

len(discount)

100

In [66]:
import numpy as np

r1 = np.arange(1,101)

In [67]:
df3 = pd.DataFrame({'Brand':brand,'Product Description':product,'Price':price,'Discount':discount})

df3 = df3.set_index(r1)

df3

,Brand,Product Description,Price,Discount
1,RESIST EYEWEAR,"UV Protection, Polarized Round Sunglasses (54)",616,72% off
2,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),664,81% off
3,Fastrack,UV Protection Round Sunglasses (54),649,87% off
4,PIRASO,"Polarized, UV Protection, Riding Glasses Wayfa...",199,60% off
5,VINCENT CHASE,"Gradient, UV Protection Wayfarer Sunglasses (F...",283,35% off
...,...,...,...,...
96,VINCENT CHASE,"Mirrored, UV Protection Wayfarer Sunglasses (F...",949,19% off
97,Silver Kartz,"UV Protection, Gradient Round Sunglasses (Free...",664,81% off
98,ROYAL SON,"UV Protection, Gradient Rectangular Sunglasses...",296,81% off
99,Sewell,UV Protection Wayfarer Sunglasses (Free Size),265,37% off
100,Fastrack,UV Protection Aviator Sunglasses (Free Size),679,80% off

In [68]:
driver3.close()

In [ ]:
# sneakers detail

In [69]:
driver4 =  webdriver.Chrome(r'C:\Users\user\chromedriver_win32\chromedriver.exe')

In [70]:
url = 'https://www.flipkart.com/'

driver4.get(url)

In [71]:
sneakers = driver4.find_element(By.CLASS_NAME,"_3704LK")

sneakers.send_keys('sneakers')

In [72]:
brand = []

start = 0
end = 3

for page in range(start,end):
    title = driver4.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in title:
        brand.append(i.text)
        
    next_button = driver4.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [73]:
len(brand)

120

In [74]:
brand = brand[0:100]

len(brand)

100

In [75]:
product = []

start = 0
end = 3

for page in range(start,end):
    prod_des = driver4.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in prod_des:
        product.append(i.text)
        
    next_button = driver4.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [76]:
len(product)

120

In [77]:
product = product[0:100]

len(product)

100

In [78]:
price = []

start = 0
end = 3

for page in range(start,end):
    price_tag = driver4.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag:
        price.append(i.text)
        
    next_button = driver4.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [79]:
len(price)

120

In [80]:
price = price[0:100]

len(price)

100

In [81]:
discount = []

start = 0
end = 3

for page in range(start,end):
    dis = driver4.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in dis:
        discount.append(i.text)
        
        
    next_button = driver4.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [82]:
len(discount)

119

In [83]:
discount = discount[0:100]

len(discount)

100

In [84]:
df4 = pd.DataFrame({'Brand':brand,'Product Description':product,'Price':price,'Discount':discount})

df4

           Brand      Product Description   Price Discount
0       RapidBox                   T-ROCK    549  60% off
1        Bullchi                   Layasa    579  55% off
2       RED TAPE                Deals4you  1,249  69% off
3       RED TAPE  Bond Street By Red Tape  1,349  50% off
4           PUMA                    AMICO  2,020  76% off
..           ...                      ...     ...      ...
95  Robbie jones                 Magnolia    329  50% off
96      Elevarse                   Shozie    471  50% off
97        Shozie             gargcreation    399  84% off
98          aadi               D-SNEAKERZ    499  87% off
99     Deals4you                   BRUTON    389  55% off

[100 rows x 4 columns]

In [85]:
df4 = df4.set_index(r1)

df4

            Brand      Product Description   Price Discount
1        RapidBox                   T-ROCK    549  60% off
2         Bullchi                   Layasa    579  55% off
3        RED TAPE                Deals4you  1,249  69% off
4        RED TAPE  Bond Street By Red Tape  1,349  50% off
5            PUMA                    AMICO  2,020  76% off
..            ...                      ...     ...      ...
96   Robbie jones                 Magnolia    329  50% off
97       Elevarse                   Shozie    471  50% off
98         Shozie             gargcreation    399  84% off
99           aadi               D-SNEAKERZ    499  87% off
100     Deals4you                   BRUTON    389  55% off

[100 rows x 4 columns]

In [86]:
driver4.close()

In [ ]:
# Iphone review

In [87]:
driver5 = webdriver.Chrome(r'C:\Users\user\chromedriver_win32\chromedriver.exe')

In [88]:
url = 'https://www.flipkart.com/apple-iphone-12-black-128-gb/product-reviews/itmf1f0a58f1ecd7?pid=MOBFWBYZK3HACR72&lid=LSTMOBFWBYZK3HACR72PX4KSA&marketplace=FLIPKART/'

driver5.get(url)

In [89]:
rating = []

start = 0
end = 10

for page in range(start,end):
    rating_des = driver5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_des:
        rating.append(i.text)
        
    next_button = driver5.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [90]:
len(rating)

100

In [91]:
review_summary = []

start = 0
end = 10

for page in range(start,end):
    rev_sum = driver5.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in rev_sum:
        review_summary.append(i.text)
        
    next_button = driver5.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [92]:
len(review_summary)

100

In [93]:
full_review = []

start = 0
end = 10

for page in range(start,end):
    full = driver5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full:
        full_review.append(i.text)
        
    next_button = driver5.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [94]:
len(full_review)

100

In [95]:
df5 = pd.DataFrame({'Rating':rating,'Review Summary':review_summary,'Full Review':full_review})

df5 = df5.set_index(r1)

df5

,Rating,Review Summary,Full Review
1,5,Terrific,Wow superb camera phone\nVery smooth speed and...
2,5,Perfect product!,The brand is very trustworthy and i got genuin...
3,5,Terrific purchase,Awesome phone value for money.. Happy with b...
4,5,Mind-blowing purchase,"Guys ,this is just Beast at Every Aspect of Co..."
5,5,Awesome,"Excellent product worth for every penny, writi..."
...,...,...,...
96,5,Terrific,This was an awesome buy. I bought this phone f...
97,5,Brilliant,Excellent product worth every penny right this...
98,5,Just wow!,iPhone 6S Plus 64GB -> iPhone 12 128GB\nMy 2nd...
99,4,Pretty good,I bought this iphone 12 in big billion days an...
100,5,Awesome,Switched from Android to iPhone and this trans...

In [96]:
driver5.close()

In [ ]:
# shoe description

In [115]:
driver6 = webdriver.Chrome(r'C:\Users\user\chromedriver_win32\chromedriver.exe')

In [116]:
url = 'https://www.myntra.com/shoes'

driver6.get(url)

In [119]:
filter_price = driver6.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')

filter_price.click()

In [118]:
filter_color = driver6.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')

filter_color.click()

In [120]:
brand = []

start = 0
end = 2

for page in range(start,end):
    brand_name = driver6.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand_name:
        brand.append(i.text)
        
    next_button = driver6.find_element(By.XPATH,'//a[@rel="next"]')
    next_button.click()
    time.sleep(5)

In [121]:
len(brand)

100

In [122]:
price = []

start = 0
end = 2

for page in range(start,end):
    price_tag = driver6.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in price_tag:
        price.append(i.text)
        
    next_button = driver6.find_element(By.XPATH,'//a[@rel="next"]')
    next_button.click()
    time.sleep(5)

In [123]:
len(price)

100

In [124]:
short_shoe = []

start = 0
end = 2

for page in range(start,end):
    sh_shoe = driver6.find_elements(By.XPATH,'//div[@class="xcelerator-plpXceleratorInfoTag"]')
    for i in sh_shoe:
        short_shoe.append(i.text)
        
    next_button = driver6.find_element(By.XPATH,'//a[@rel="next"]')
    next_button.click()
    time.sleep(5)

In [125]:
len(short_shoe)

67

In [137]:
df6 = pd.DataFrame({'Brand':brand,'Price':price})

df6

               Brand                        Price
0               Nike                     Rs. 9999
1               Nike  Rs. 11199Rs. 15999(30% OFF)
2               Puma  Rs. 11192Rs. 13990(20% OFF)
3             ADIDAS  Rs. 11199Rs. 15999(30% OFF)
4               Nike   Rs. 9810Rs. 10900(10% OFF)
..               ...                          ...
95             ASICS   Rs. 9341Rs. 10990(15% OFF)
96              Puma   Rs. 9799Rs. 13999(30% OFF)
97           Bugatti   Rs. 8449Rs. 12999(35% OFF)
98           Bugatti    Rs. 8491Rs. 9990(15% OFF)
99  ADIDAS Originals   Rs. 9499Rs. 18999(50% OFF)

[100 rows x 2 columns]

In [138]:
df6a = pd.DataFrame({'Short Shoe Description':short_shoe})

df6a

   Short Shoe Description
0          Only Few Left!
1          Only Few Left!
2          Only Few Left!
3          Only Few Left!
4          Only Few Left!
..                    ...
62         Only Few Left!
63         Only Few Left!
64         Only Few Left!
65         Only Few Left!
66         Only Few Left!

[67 rows x 1 columns]

In [139]:
df6 = pd.concat([df6,df6a],axis=1)

In [140]:
df6

               Brand                        Price Short Shoe Description
0               Nike                     Rs. 9999         Only Few Left!
1               Nike  Rs. 11199Rs. 15999(30% OFF)         Only Few Left!
2               Puma  Rs. 11192Rs. 13990(20% OFF)         Only Few Left!
3             ADIDAS  Rs. 11199Rs. 15999(30% OFF)         Only Few Left!
4               Nike   Rs. 9810Rs. 10900(10% OFF)         Only Few Left!
..               ...                          ...                    ...
95             ASICS   Rs. 9341Rs. 10990(15% OFF)                    NaN
96              Puma   Rs. 9799Rs. 13999(30% OFF)                    NaN
97           Bugatti   Rs. 8449Rs. 12999(35% OFF)                    NaN
98           Bugatti    Rs. 8491Rs. 9990(15% OFF)                    NaN
99  ADIDAS Originals   Rs. 9499Rs. 18999(50% OFF)                    NaN

[100 rows x 3 columns]

In [141]:
df6 = df6.set_index(r1)

df6

                Brand                        Price Short Shoe Description
1                Nike                     Rs. 9999         Only Few Left!
2                Nike  Rs. 11199Rs. 15999(30% OFF)         Only Few Left!
3                Puma  Rs. 11192Rs. 13990(20% OFF)         Only Few Left!
4              ADIDAS  Rs. 11199Rs. 15999(30% OFF)         Only Few Left!
5                Nike   Rs. 9810Rs. 10900(10% OFF)         Only Few Left!
..                ...                          ...                    ...
96              ASICS   Rs. 9341Rs. 10990(15% OFF)                    NaN
97               Puma   Rs. 9799Rs. 13999(30% OFF)                    NaN
98            Bugatti   Rs. 8449Rs. 12999(35% OFF)                    NaN
99            Bugatti    Rs. 8491Rs. 9990(15% OFF)                    NaN
100  ADIDAS Originals   Rs. 9499Rs. 18999(50% OFF)                    NaN

[100 rows x 3 columns]

In [146]:
driver6.close()

In [147]:
# Top quotes

In [27]:
driver7 = webdriver.Chrome(r'C:\Users\user\chromedriver_win32\chromedriver.exe')

In [28]:
url = 'https://www.azquotes.com/'

driver7.get(url)

In [5]:
quotes = []

start = 0
end = 10

for page in range(start,end):
    quotes_des = driver7.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotes_des:
        quotes.append(i.text)
        
    next_button = driver7.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(5)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//li[@class="next"]"}
  (Session info: chrome=107.0.5304.88)
Stacktrace:
Backtrace:
	Ordinal0 [0x0060ACD3+2075859]
	Ordinal0 [0x0059EE61+1633889]
	Ordinal0 [0x0049B7BD+571325]
	Ordinal0 [0x004CAC2F+764975]
	Ordinal0 [0x004CAE1B+765467]
	Ordinal0 [0x004FD0F2+970994]
	Ordinal0 [0x004E7364+881508]
	Ordinal0 [0x004FB56A+963946]
	Ordinal0 [0x004E7136+880950]
	Ordinal0 [0x004BFEFD+720637]
	Ordinal0 [0x004C0F3F+724799]
	GetHandleVerifier [0x008BEED2+2769538]
	GetHandleVerifier [0x008B0D95+2711877]
	GetHandleVerifier [0x0069A03A+521194]
	GetHandleVerifier [0x00698DA0+516432]
	Ordinal0 [0x005A682C+1665068]
	Ordinal0 [0x005AB128+1683752]
	Ordinal0 [0x005AB215+1683989]
	Ordinal0 [0x005B6484+1729668]
	BaseThreadInitThunk [0x75A97BA9+25]
	RtlInitializeExceptionChain [0x773BBB3B+107]
	RtlClearBits [0x773BBABF+191]

In [6]:
len(quotes)

1000

In [7]:
quotes[999]

'No matter how plain a woman may be, if truth and honesty are written across her face, she will be beautiful.'

In [19]:
authors = []

start = 0
end = 10

for page in range(start,end):
    authors_des = driver7.find_elements(By.XPATH,'//div[@class="author"]')
    for i in authors_des:
        authors.append(i.text)
        
    next_button = driver7.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(5)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//li[@class="next"]"}
  (Session info: chrome=107.0.5304.88)
Stacktrace:
Backtrace:
	Ordinal0 [0x0060ACD3+2075859]
	Ordinal0 [0x0059EE61+1633889]
	Ordinal0 [0x0049B7BD+571325]
	Ordinal0 [0x004CAC2F+764975]
	Ordinal0 [0x004CAE1B+765467]
	Ordinal0 [0x004FD0F2+970994]
	Ordinal0 [0x004E7364+881508]
	Ordinal0 [0x004FB56A+963946]
	Ordinal0 [0x004E7136+880950]
	Ordinal0 [0x004BFEFD+720637]
	Ordinal0 [0x004C0F3F+724799]
	GetHandleVerifier [0x008BEED2+2769538]
	GetHandleVerifier [0x008B0D95+2711877]
	GetHandleVerifier [0x0069A03A+521194]
	GetHandleVerifier [0x00698DA0+516432]
	Ordinal0 [0x005A682C+1665068]
	Ordinal0 [0x005AB128+1683752]
	Ordinal0 [0x005AB215+1683989]
	Ordinal0 [0x005B6484+1729668]
	BaseThreadInitThunk [0x75A97BA9+25]
	RtlInitializeExceptionChain [0x773BBB3B+107]
	RtlClearBits [0x773BBABF+191]

In [20]:
len(authors)

1000

In [21]:
authors[999]

'Eleanor Roosevelt'

In [29]:
quotes_type = []

start = 0
end = 10

for page in range(start,end):
    quote_typ = driver7.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in quote_typ:
        quotes_type.append(i.text)
        
    next_button = driver7.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(5)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//li[@class="next"]"}
  (Session info: chrome=107.0.5304.88)
Stacktrace:
Backtrace:
	Ordinal0 [0x0060ACD3+2075859]
	Ordinal0 [0x0059EE61+1633889]
	Ordinal0 [0x0049B7BD+571325]
	Ordinal0 [0x004CAC2F+764975]
	Ordinal0 [0x004CAE1B+765467]
	Ordinal0 [0x004FD0F2+970994]
	Ordinal0 [0x004E7364+881508]
	Ordinal0 [0x004FB56A+963946]
	Ordinal0 [0x004E7136+880950]
	Ordinal0 [0x004BFEFD+720637]
	Ordinal0 [0x004C0F3F+724799]
	GetHandleVerifier [0x008BEED2+2769538]
	GetHandleVerifier [0x008B0D95+2711877]
	GetHandleVerifier [0x0069A03A+521194]
	GetHandleVerifier [0x00698DA0+516432]
	Ordinal0 [0x005A682C+1665068]
	Ordinal0 [0x005AB128+1683752]
	Ordinal0 [0x005AB215+1683989]
	Ordinal0 [0x005B6484+1729668]
	BaseThreadInitThunk [0x75A97BA9+25]
	RtlInitializeExceptionChain [0x773BBB3B+107]
	RtlClearBits [0x773BBABF+191]

In [30]:
len(quotes_type)

1000

In [31]:
quotes_type[250]

'Inspirational, Change, Inspiring'

In [32]:
df7 = pd.DataFrame({'Quote':quotes,'Author':authors,'Type Of Quote':quotes_type})

df7

,Quote,Author,Type Of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,"No matter how plain a woman may be, if truth a...",Eleanor Roosevelt,"Beauty, Beautiful, Truth"

In [33]:
r2 = np.arange(1,1001)

df7 = df7.set_index(r2)

df7

,Quote,Author,Type Of Quote
1,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
2,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
3,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
4,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
5,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
996,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
997,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
998,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
999,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
1000,"No matter how plain a woman may be, if truth a...",Eleanor Roosevelt,"Beauty, Beautiful, Truth"

In [34]:
driver7.close()

In [223]:
 # list of Laptop

In [3]:
driver8 = webdriver.Chrome(r'C:\Users\user\chromedriver_win32\chromedriver.exe')

In [4]:
url = 'https://www.amazon.in/'

driver8.get(url)

In [5]:
search_lap = driver8.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')

In [6]:
search_lap.send_keys('Laptop')

In [7]:
filter_cpu = driver8.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[10]/span/a/span')

In [8]:
filter_cpu.click()

In [10]:
title = []

title_tag = driver8.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')

for i in title_tag[0:10]:
    title.append(i.text)

In [11]:
len(title)

10

In [12]:
title[0]

'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue'

In [13]:
price = []

price_tag = driver8.find_elements(By.XPATH,'//span[@class="a-price"]')

for i in price_tag[0:10]:
    price.append(i.text)

In [14]:
len(price)

10

In [15]:
price

['80,990',
 '83,990',
 '93,999',
 '1,04,819',
 '81,490',
 '77,500',
 '84,918',
 '1,01,990',
 '25,895',
 '86,490']

In [24]:
rating = []

rating_tag = driver8.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')

for i in rating_tag[0:10]:
    rating.append(i.text)

In [25]:
rating

['', '', '', '', '', '', '', '', '', '']

In [26]:
df8 = pd.DataFrame({'Title':title,'Price':price,'Rating':rating})

df8

                                               Title      Price Rating
0  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    80,990
1  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...    83,990
2  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    93,999
3  Acer Nitro 5 Gaming Laptop/12th Gen Intel Core...  1,04,819
4  Fujitsu UH-X 11th Gen Intel Core i7 13.3 FHD ...    81,490
5  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    77,500
6  Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDD...    84,918
7  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...  1,01,990
8  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...    25,895
9  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...    86,490

In [27]:
df8 = df8.set_index(r)

df8

                                                Title      Price Rating
1   HP Pavilion x360 11th Gen Intel Core i7 14 inc...    80,990
2   Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...    83,990
3   HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    93,999
4   Acer Nitro 5 Gaming Laptop/12th Gen Intel Core...  1,04,819
5   Fujitsu UH-X 11th Gen Intel Core i7 13.3 FHD ...    81,490
6   Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    77,500
7   Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDD...    84,918
8   ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...  1,01,990
9   Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...    25,895
10  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...    86,490

In [28]:
driver8.close()