In [1]:
import sqlite3

db = sqlite3.connect('Customer_database.db')

In [2]:
cursor = db.cursor()

In [3]:
cursor.execute('create table Customers(customerNumber int primary key,customerName text,contactLastName text,contactFirstName text,phone int, addressLine1 text,addressLine2 text,city text,state text,postalCode int,country text,salesRepEmployeeNumber int,creditLimit int)')

In [4]:
cursor.execute('create table Orders(orderNumber int primary key,orderDate int,requiredDate int,shippedDate int, status text,comments text,customerNumber int)')

In [5]:
db.commit()

In [7]:
result = cursor.execute('select * from Orders')

for row in result:
    print(row)

In [8]:
a = cursor.execute('select comments from Orders')

for row in a:
    print(row)

In [9]:
a1 = cursor.execute('select orderDate from Orders')

for row in a1:
    print(row)
    
    print(len(row))

In [10]:
cursor.execute('create table employees(employeeNumber int primary key,lastName text,firstName text,extension int,email text,officeCode int,reportsTo text,jobTitle text)')

In [11]:
a2 = cursor.execute('select employeeNumber,lastName,firstName from employees')

for row in a2:
    print(row)

In [12]:
a3 = cursor.execute('select orderNumber from Orders')

for row in a3:
    print(row)

In [13]:
a4 = cursor.execute('select customerName from Customers')

for row in a4:
    print(row)

In [17]:
a5 = cursor.execute('select customerName,salesRepEmployeeNumber from Customers')

for row in a5:
    print(row)
    
    row.split(',')

In [19]:
cursor.execute('create table payments(customerNumber int primary key,checkNumber int,paymentDate int,amount int)')

In [20]:
a6 = cursor.execute('select paymentDate,amount from payments')

for row in a6:
    print(row)

In [21]:
cursor.execute('create table products(productCode int primary key,productName text,productLine text,productScale int,productVendor text,productDescription text,quantityInStock int,buyPrice int,MSRP int)')

In [22]:
a7 = cursor.execute('select productName,MSRP,productDescription from products')

for row in a7:
    print(row)

In [24]:
a8 = cursor.execute('select max(productName) from products')

print('Most ordered productName =',a8.fetchone())

Most ordered productName = (None,)

In [25]:
a9 = cursor.execute('select max(productDescription) from products')

print('Most ordered productDescription =',a9.fetchone())

Most ordered productDescription = (None,)

In [26]:
a10 = cursor.execute('select max(city) from Customers')

print('City with maximum orders =',a10.fetchone())

City with maximum orders = (None,)

In [27]:
a11 = cursor.execute('select max(state) from Customers')

print('State with maximum customers =',a11.fetchone())

State with maximum customers = (None,)

In [28]:
a12 = cursor.execute('select employeeNumber from employees')

for row in a12:
    print(row)

In [29]:
a13 = cursor.execute('select firstName,lastName from employees')

for row in a13:
    print(row)

In [32]:
a14 = cursor.execute('select min(orderNumber) from Orders')

print('Order Number =',a14.fetchone())

Order Number = (None,)

In [33]:
a15 = cursor.execute('select min(customerName) from Customers')

print('Customer Name =',a15.fetchone())

Customer Name = (None,)

In [34]:
a16 = cursor.execute('select min(amount) from payments')

print('Amount paid by customer =',a16.fetchone())

Amount paid by customer = (None,)